* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.main-container {
    height: 100%;
    background-color: lightgray;
    display: grid;
    gap:15px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr 1fr;
    text-align: center;
    font-size: 1.3rem;
}

header {
    background-color: wheat;
    box-shadow: 0 2px 3px gray;
    padding: 0 20px;
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
}

.sidebar {
    border: 2px solid black;
    background-color: white;
    grid-column: 1;
    grid-row: 2 / 3;
    box-shadow: 0 0 3px gray;
    border-radius: 10px;
    margin-left: 20px;
}

footer {
    font-family: sans-serif;
    background-color: wheat;
    grid-row: 3;
    grid-column: 1 / 3;
    box-shadow: 0 0 3px gray;
}

.line1 ul{
    display: flex;
    justify-content: space-around;
    padding: 10px 50px 5px 50px;
    gap: 1rem;
    list-style: none;
}

.line1 li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 700;
}

.line1 a:hover{
    background: orange;
    padding: 5px;
}

.line2 ul{
    display: flex;
    justify-content: space-around;
    padding: 10px 50px 5px 50px;
    gap: 1rem;
    list-style: none;
}

.line2 li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
}

.line2 a:hover{
    background: orange;
    padding: 5px;
}

.copy{
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 5px;
}