* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Font import*/
@font-face {
    font-family: Avenir Light;
    src: url(font-awesome-4.7.0/fonts/Avenir-Light.ttf) format("truetype");
}

body {
    font-size: 20px;
    font-family: Avenir Light, B Nazanin, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width:100%;
}


#Logo{
 
 height: 50px;
}

 /* header starts here */
header {
    background-color: papayawhip ;
    color: white;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100vw;
    height: 60px;
}



.header-btn {
    position: absolute;
    right: 0;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;

}

/* header ends here */

main {
    padding: 0 15px;
    margin-top: 70px;
}

#banner {
    background: url('../assets/img/watch3.jpg');
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 2px;
}

.categories {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category {
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 2px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -1;
}

.category p {
    position: absolute;
    top: 120px;
    padding: 5px 10px;
    border: 2px solid white;
    color: white;
    font-size: 1.2rem;
    text-shadow: 0 0 2px black;
    border-radius: 10px;
}
img {
    width: 100%;
}

.products {
    margin-top: 20px;   
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    background-color: coral;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    position: sticky;
    top: 60px;
}
.products section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-basis: 50%;
}
/* start of all produxt styles */
.product {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 2px;
    height: 200px;
    flex: 1;
    flex-basis: 40%;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.product p {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    padding: 5px;
    text-align: center;
}
/* product design */
.product span {
    position: absolute;
    right: 0;
    padding: 5px 10px;
    background-color: rgb(242, 42, 29);
    border-bottom-left-radius: 10px;
    color: white;
}
 /* all clickable links */
a{
    text-decoration:none;
    cursor: pointer;
}
